@font-face {
    font-family:Norse;
    src: url(Norse-Bold.otf);
}
body{
    margin: 0px;
    padding: 0px;
}
.signup{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.background {
    height: 100vh; /* Full viewport width */
    height: auto; /* Adjust height as needed */
    width:35vw;
    background-color: #090909; /* Adjust background color as needed */
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
}


.background-text {
    display: flex; /* Flexbox to align items */
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0.6;
    height: 15%;
    width: 100%;
    margin-top: 35%;
}
.background-text img{
    height: 100%;
    img-opacity: 1;
}
.background-text .font{
    font-family: Norse;
    font-size: 100px;
    color: rgb(251, 251, 251);
    font-weight: bolder;
    opacity: 1;
}
.form{
    background-color: rgb(235, 235, 235);
    width: 65vw;
    height: 100vh;

}
.form p{
    color: black;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10%;
    background-color: none;
    height:15%;
    padding-left: 30px;
    padding-top: 20px;
    font-size: 20px;
}
form{
    background-color: white;
    padding-left: 45px;
    padding-top: 2px;
    height: 40%;
    position: relative;
}
form h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
.last-name,.phone-number,.confirm-password{
    position:absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 40%;
    font-weight: bold;

}
.first-name,.email,.password{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
input{
    width: 300px;
    height: 25px;
    outline: none; /* Remove default focus outline */
    transition: border-color 0.3s ease; /* Smooth transition */
    margin-bottom: 20px;
    border-color: whitesmoke;
}
input:focus{
    border-color: rgb(138, 138, 241);
    box-shadow:0 0 5px rgb(179, 179, 179);
}


